$navbar-default-bg: #ff8c00;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #777;
$navbar-default-brand-hover-color: #777;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

footer {
  margin: 25px 0 0 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: right;
}

.gravatar {
  border-radius: 10px;
}