$navbar-default-bg: #ff8c00;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: #ee6a00;
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;
$navbar-default-link-active-color: white;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

footer {
  margin: 25px 0 0 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: right;
}

.gravatar {
  border-radius: 10px;
  margin-top: 10px;
}

.preview {
  border-radius: 10px;
}

.recipe .help-block {
  margin: 15px 0 0 0;
}

// These styles were inspired by the floating action button introduced by Google.
#fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 25px;
  margin-right: 25px;

  a {
    position: relative;
    border-radius: 50%;
    border: none;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);

    &:hover {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .14), 0 6px 12px rgba(0, 0, 0, .28);
      background-color: $btn-primary-bg;
    }
  }

  label {
    background-color: rgba(70, 70, 70, 0.9);
    color: #ececec;
    padding: 5px;
    border-radius: 2px;
    display: none;
  }

  i {
    top: 0;
    margin-top: 14px;
  }
}
// End of FAB styles.