$navbar-default-bg: #ff8c00;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: #ee6a00;
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;
$navbar-default-link-active-color: white;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

footer {
  margin: 25px 0 0 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: right;
}

.gravatar {
  margin-top: 10px;
  border-radius: 10px;
}

#fab {
  position: fixed;
  border-radius: 50%;
  top: 90%;
  left: 75%;
  box-shadow: 0 2px 5px 0.5px lighten($gray-base, 46.7%);
}